<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment = "footer" >
        <div class="footer-link">
            <a href="#">Sing up</a>
            <a href="#">Log In</a>
            <a href="#">Messenger</a>
            <a href="#">SocialBook Lite</a>
            <a href="#">Watch</a>
            <a href="#">People</a>
            <a href="#">Places</a>
            <a href="#">Games</a>
            <a href="#">Marketplace</a>
            <a href="#">SocialBook Pay</a>
            <a href="#">Jobs</a>
            <a href="#">Oculus</a>
            <a href="#">Portal</a>
            <a href="#">Instagram</a>
            <a href="#">Local</a>
            <a href="#">Fundraisers</a>
            <a href="#">Service</a>
            <a href="#">Voting Information Centre</a>
            <a href="#">About</a>
            <a href="#">Create ad</a>
            <a href="#">Create Page</a>
            <a href="#">Developers</a>
            <a href="#">Careers</a>
            <a href="#">Privacy</a>
            <a href="#">Cookies</a>
            <a href="#">AdChoices</a>
            <a href="#">Terms</a>
            <a href="#">Help</a>
        </div>
    </th:block>