<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="head">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Favicon icon -->
        <link rel="icon" type="image/png" sizes="20x20" href="/images/favicon.png">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/style-login.css">
        <script src="https://kit.fontawesome.com/ee851cd5ee.js" crossorigin="anonymous"></script>
        <script src="/js/bootstrap.bundle.min.js"></script>
        <script src="/js/jquery-3.6.0.min.js"></script>
        <script src="/js/jquery.validate.min.js"></script>
    </th:block>


    <th:block th:fragment="head-login">
        <meta charset="UTF-8">
        <title>SocialBook - log in and sign up</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style-login.css">
        <script src="/js/bootstrap.bundle.min.js"></script>
        <script src="/js/jquery-3.6.0.min.js"></script>
        <script src="/js/jquery.validate.min.js"></script>

    </th:block>

    <th:block th:fragment="head-resources">
        <!--        <link rel="stylesheet" href="css/bootstrap.min.css">-->
        <link rel="stylesheet" href="css/style-login.css">
        <!--        <script src="js/jquery-3.6.0.min.js"></script>-->
        <!--        <script src="js/bootstrap.bundle.min.js"></script>-->
        <!--        <script src="js/jquery.validate.min.js"></script>-->
    </th:block>

