<html lang="en" xmlns:th="http://www.thymeleaf.org">
     <th:block th:fragment = "left-sidebar" >
        <div class="imp-links">
            <a href="#"><img src="images/news.png" alt=""> Last News</a>
            <a href="#"><img src="images/friends.png" alt=""> Friends</a>
            <a href="#"><img src="images/group.png" alt=""> Group</a>
            <a href="#"><img src="images/marketplace.png" alt=""> Marketplace</a>
            <a href="#"><img src="images/watch.png" alt=""> Watch</a>
            <a href="#">See More</a>
        </div>
        <div class="shortcut-links">
            <p>Your Shortcuts</p>
            <a href="#"><img src="images/shortcut-1.png" alt=""> Web Developers</a>
            <a href="#"><img src="images/shortcut-2.png" alt=""> Web Design course</a>
            <a href="#"><img src="images/shortcut-3.png" alt=""> Full Stack Development</a>
            <a href="#"><img src="images/shortcut-4.png" alt=""> Website </a>
        </div>
</th:block>

