<html lang="en" xmlns:th="http://www.thymeleaf.org">
     <th:block th:fragment = "main-content">

        <div class="story-gallery">
            <div class="story story-1">
                <img src="/images/upload.png" alt="">
                <p>Post Story</p>
            </div>
            <div class="story story-2">
                <img src="/images/member-1.png" alt="">
                <p>Post Story</p>
            </div>
            <div class="story story-3">
                <img src="/images/member-2.png" alt="">
                <p>Post Story</p>
            </div>
            <div class="story story-4">
                <img src="/images/member-3.png" alt="">
                <p>Post Story</p>
            </div>
            <div class="story story-5">
                <img src="/images/member-4.png" alt="">
                <p>Post Story</p>
            </div>
        </div>

         <div class="write-post-container">
             <div class="user-profile">
                 <img src="/images/profile-pic.png" alt="">
                 <div>
                     <p>John Nicholson</p>
                     <small>Public <i class="fas fa-caret-down"></i></small>
                 </div>
             </div>
             <div class="post-input-container">
                 <textarea rows="3" placeholder="What's on your mind" class="post-content"></textarea>
                 <input type="file" class="post-content" alt="">
                 <div class="add-post-links">
                     <a href="#"><img src="/images/live-video.png" alt=""> Live Video</a>
                     <a href="#"><img src="/images/photo.png" alt=""> Photo/Video</a>
                     <a href="#"><img src="/images/feeling.png" alt=""> Feeling/Activity</a>
                 </div>
                 <div class="post-input">
                     <a href="#" class="post-btn">Post</a>
                 </div>
             </div>
         </div>

        <div class="new-feed">
            <div class="post-container">
                <div class="post-row">
                    <div class="user-profile">
                        <img src="/images/profile-pic.png" alt="">
                        <div>
                            <p>John Nicholson</p>
                            <span>Jun 24 2021, 13:40</span>
                        </div>
                    </div>
                    <a href="#"><i class="fas fa-ellipsis-h"></i></a>
                </div>

                <p class="post-text">Hello World Welcome to C04H1k1 CodeGym</p>
                <img src="/images/feed-image-1.png" class="post-img">

                <div class="post-row">
                    <div class="activity-icons">
                        <div><img src="/images/like-blue.png" alt=""> 120</div>
                        <div><img src="/images/comments.png" alt=""> 45</div>
                        <div><img src="/images/share.png" alt=""> 20</div>
                    </div>
                    <div class="post-profile-icon">
                        <img src="/images/profile-pic.png" alt=""> <i class="fas fa-caret-down"></i>
                    </div>
                </div>
            </div>

            <div class="post-container">
                <div class="post-row">
                    <div class="user-profile">
                        <img src="/images/profile-pic.png" alt="">
                        <div>
                            <p>John Nicholson</p>
                            <span>Jun 24 2021, 13:40</span>
                        </div>
                    </div>
                    <a href="#"><i class="fas fa-ellipsis-h"></i></a>
                </div>

                <p class="post-text">Hello World</p>
                <img src="/images/feed-image-2.png" class="post-img">

                <div class="post-row">
                    <div class="activity-icons">
                        <div><img src="/images/like-blue.png" alt=""> 120</div>
                        <div><img src="/images/comments.png" alt=""> 45</div>
                        <div><img src="/images/share.png" alt=""> 20</div>
                    </div>
                    <div class="post-profile-icon">
                        <img src="/images/profile-pic.png" alt=""> <i class="fas fa-caret-down"></i>
                    </div>
                </div>
            </div>

            <div class="post-container">
                <div class="post-row">
                    <div class="user-profile">
                        <img src="/images/profile-pic.png" alt="">
                        <div>
                            <p>John Nicholson</p>
                            <span>Jun 24 2021, 13:40</span>
                        </div>
                    </div>
                    <a href="#"><i class="fas fa-ellipsis-h"></i></a>
                </div>

                <p class="post-text">Hello World</p>
                <img src="/images/feed-image-3.png" class="post-img">

                <div class="post-row">
                    <div class="activity-icons">
                        <div><img src="/images/like-blue.png" alt=""> 120</div>
                        <div><img src="/images/comments.png" alt=""> 45</div>
                        <div><img src="/images/share.png" alt=""> 20</div>
                    </div>
                    <div class="post-profile-icon">
                        <img src="/images/profile-pic.png" alt=""> <i class="fas fa-caret-down"></i>
                    </div>
                </div>
            </div>

            <div class="post-container">
                <div class="post-row">
                    <div class="user-profile">
                        <img src="/images/profile-pic.png" alt="">
                        <div>
                            <p>John Nicholson</p>
                            <span>Jun 24 2021, 13:40</span>
                        </div>
                    </div>
                    <a href="#"><i class="fas fa-ellipsis-h"></i></a>
                </div>

                <p class="post-text">Hello World</p>
                <img src="/images/feed-image-4.png" class="post-img">

                <div class="post-row">
                    <div class="activity-icons">
                        <div><img src="/images/like-blue.png" alt=""> 120</div>
                        <div><img src="/images/comments.png" alt=""> 45</div>
                        <div><img src="/images/share.png" alt=""> 20</div>
                    </div>
                    <div class="post-profile-icon">
                        <img src="/images/profile-pic.png" alt=""> <i class="fas fa-caret-down"></i>
                    </div>
                </div>
            </div>

            <div class="post-container">
                <div class="post-row">
                    <div class="user-profile">
                        <img src="/images/profile-pic.png" alt="">
                        <div>
                            <p>John Nicholson</p>
                            <span>Jun 24 2021, 13:40</span>
                        </div>
                    </div>
                    <a href="#"><i class="fas fa-ellipsis-h"></i></a>
                </div>

                <p class="post-text">Hello World</p>
                <img src="/images/feed-image-5.png" class="post-img">

                <div class="post-row">
                    <div class="activity-icons">
                        <div><img src="/images/like-blue.png" alt=""> 120</div>
                        <div><img src="/images/comments.png" alt=""> 45</div>
                        <div><img src="/images/share.png" alt=""> 20</div>
                    </div>
                    <div class="post-profile-icon">
                        <img src="/images/profile-pic.png" alt=""> <i class="fas fa-caret-down"></i>
                    </div>
                </div>
            </div>

            <div class="post-container">
                <div class="post-row">
                    <div class="user-profile">
                        <img src="/images/profile-pic.png" alt="">
                        <div>
                            <p>John Nicholson</p>
                            <span>Jun 24 2021, 13:40</span>
                        </div>
                    </div>
                    <a href="#"><i class="fas fa-ellipsis-h"></i></a>
                </div>

                <p class="post-text">Hello World Welcome to C04H1k1 CodeGym</p>
                <img src="/images/feed-image-1.png" class="post-img">

                <div class="post-row">
                    <div class="activity-icons">
                        <div><img src="/images/like-blue.png" alt=""> 120</div>
                        <div><img src="/images/comments.png" alt=""> 45</div>
                        <div><img src="/images/share.png" alt=""> 20</div>
                    </div>
                    <div class="post-profile-icon">
                        <img src="/images/profile-pic.png" alt=""> <i class="fas fa-caret-down"></i>
                    </div>
                </div>
            </div>

            <div class="post-container">
                <div class="post-row">
                    <div class="user-profile">
                        <img src="/images/profile-pic.png" alt="">
                        <div>
                            <p>John Nicholson</p>
                            <span>Jun 24 2021, 13:40</span>
                        </div>
                    </div>
                    <a href="#"><i class="fas fa-ellipsis-h"></i></a>
                </div>

                <p class="post-text">Hello World</p>
                <img src="/images/feed-image-2.png" class="post-img">

                <div class="post-row">
                    <div class="activity-icons">
                        <div><img src="/images/like-blue.png" alt=""> 120</div>
                        <div><img src="/images/comments.png" alt=""> 45</div>
                        <div><img src="/images/share.png" alt=""> 20</div>
                    </div>
                    <div class="post-profile-icon">
                        <img src="/images/profile-pic.png" alt=""> <i class="fas fa-caret-down"></i>
                    </div>
                </div>
            </div>

            <div class="post-container">
                <div class="post-row">
                    <div class="user-profile">
                        <img src="/images/profile-pic.png" alt="">
                        <div>
                            <p>John Nicholson</p>
                            <span>Jun 24 2021, 13:40</span>
                        </div>
                    </div>
                    <a href="#"><i class="fas fa-ellipsis-h"></i></a>
                </div>

                <p class="post-text">Hello World</p>
                <img src="/images/feed-image-3.png" class="post-img">

                <div class="post-row">
                    <div class="activity-icons">
                        <div><img src="/images/like-blue.png" alt=""> 120</div>
                        <div><img src="/images/comments.png" alt=""> 45</div>
                        <div><img src="/images/share.png" alt=""> 20</div>
                    </div>
                    <div class="post-profile-icon">
                        <img src="/images/profile-pic.png" alt=""> <i class="fas fa-caret-down"></i>
                    </div>
                </div>
            </div>

            <div class="post-container">
                <div class="post-row">
                    <div class="user-profile">
                        <img src="/images/profile-pic.png" alt="">
                        <div>
                            <p>John Nicholson</p>
                            <span>Jun 24 2021, 13:40</span>
                        </div>
                    </div>
                    <a href="#"><i class="fas fa-ellipsis-h"></i></a>
                </div>

                <p class="post-text">Hello World</p>
                <img src="/images/feed-image-4.png" class="post-img">

                <div class="post-row">
                    <div class="activity-icons">
                        <div><img src="/images/like-blue.png" alt=""> 120</div>
                        <div><img src="/images/comments.png" alt=""> 45</div>
                        <div><img src="/images/share.png" alt=""> 20</div>
                    </div>
                    <div class="post-profile-icon">
                        <img src="/images/profile-pic.png" alt=""> <i class="fas fa-caret-down"></i>
                    </div>
                </div>
            </div>

            <div class="post-container">
                <div class="post-row">
                    <div class="user-profile">
                        <img src="/images/profile-pic.png" alt="">
                        <div>
                            <p>John Nicholson</p>
                            <span>Jun 24 2021, 13:40</span>
                        </div>
                    </div>
                    <a href="#"><i class="fas fa-ellipsis-h"></i></a>
                </div>

                <p class="post-text">Hello World</p>
                <img src="/images/feed-image-5.png" class="post-img">

                <div class="post-row">
                    <div class="activity-icons">
                        <div><img src="/images/like-blue.png" alt=""> 120</div>
                        <div><img src="/images/comments.png" alt=""> 45</div>
                        <div><img src="/images/share.png" alt=""> 20</div>
                    </div>
                    <div class="post-profile-icon">
                        <img src="/images/profile-pic.png" alt=""> <i class="fas fa-caret-down"></i>
                    </div>
                </div>
            </div>

            <button type="button" class="load-more-btn">Load More</button>
        </div>

     </th:block>