<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment = "right-sidebar">
        <div class="sidebar-title">
            <h4>Events</h4>
            <a href="#">See All</a>
        </div>
        <div class="event">
            <div class="left-event">
                <h3>18</h3>
                <span>March</span>
            </div>
            <div class="right-event">
                <h4>Social Media</h4>
                <p><i class="fas fa-map-marker-alt"></i> Willson Tech Park</p>
                <a href="#">More Info</a>
            </div>
        </div>
        <div class="event">
            <div class="left-event">
                <h3>18</h3>
                <span>March</span>
            </div>
            <div class="right-event">
                <h4>Social Media</h4>
                <p><i class="fas fa-map-marker-alt"></i> Willson Tech Park</p>
                <a href="#">More Info</a>
            </div>
        </div>
        <div class="sidebar-title">
            <h4>Advertisement</h4>
            <a href="#">See All</a>
        </div>
        <img src="images/advertisement.png" class="sidebar-ads">
        <div class="sidebar-title">
            <h4>Conversation</h4>
            <a href="#">Hide Chat</a>
        </div>
        <div class="online-list">
            <div class="online">
                <img src="images/member-1.png" alt="">
            </div>
            <p>ABC</p>
        </div>
        <div class="online-list">
            <div class="online">
                <img src="images/member-2.png" alt="">
            </div>
            <p>ABC</p>
        </div>
        <div class="online-list">
            <div class="online">
                <img src="images/member-3.png" alt="">
            </div>
            <p>ABC</p>
        </div>
</th:block>

