<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment = "story-gallery" >
        <div class="story-gallery">
            <div class="story story-1">
                <img src="images/upload.png" alt="">
                <p>Post Story</p>
            </div>
            <div class="story story-2">
                <img src="images/member-1.png" alt="">
                <p>Post Story</p>
            </div>
            <div class="story story-3">
                <img src="images/member-2.png" alt="">
                <p>Post Story</p>
            </div>
            <div class="story story-4">
                <img src="images/member-3.png" alt="">
                <p>Post Story</p>
            </div>
            <div class="story story-5">
                <img src="images/member-4.png" alt="">
                <p>Post Story</p>
            </div>
        </div>
    </th:block>